body {
    font-size: 14px;
    color: navy;
}
h1 {
    color: #ffc;
    background-color: #009;
}
\p {
    color: red;
}

a {
    color: blue;
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    letter-spacing: 1.8px;
    word-spacing: 5px;
    line-height: 1.5;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    background-color: #FFA500;
    margin: 20px;
    padding: 40px;
}